<footer>
    <div class="f-info">
        <div class="f-info-links">
            <a>&copy;2025 Airbin, Inc</a>
            <a href="">Privacy</a>
            <a href="">Terms</a>
            <a href="">Sitemap</a>
            <a href="">Company details</a>
        </div>
        <div class="f-info-socials">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-x-twitter"></i>
        </div>
    </div>

</footer>